.container{
    max-width: 400px;
    margin:7vh auto 0 auto ;
    /* box-shadow: 0px 0px 0px 0px rgba(153, 153, 153, 0.5); */
    padding: 10px;
    border: 1px solid rgb(126, 123, 123);
    background-color: antiquewhite;
}

#display{
    text-align: right;
    height: 50px;
    line-height: 50px;
    padding: 10px 8px;
    font-size: 25px;
    border: 1px solid rgb(126, 123, 123);
}

.buttons{
    display: grid;
    border-bottom: 1px solid rgb(126, 123, 123);
    border-left: 1px solid rgb(126, 123, 123);
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
    border-top: 1px solid rgb(126, 123, 123);
    border-right: 1px solid rgb(126, 123, 123);
}

.button {
    border: 0.5px solid rgb(126, 123, 123);
    line-height: 75px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal{
    background-color: dodgerblue;
    color: white;
}

.button:hover{
    background-color: rgb(35, 48, 48);
    color: white;
    transition: 0.05s ease-in-out;
}

#equal:hover{
    background-color: rgb(202, 202, 245);
    color: blue;
    transition: 0.05s ease-in-out;
}

body{
    background-color: #2d343f;    
}

.auto-text{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}

.auto-type{
    color: yellow;
    font-family: 'Poppins', sans-serif;
}